.alertMsg{
    color: red;
}

.navbar .btn{
    display: inline-block !important;
    color: white;
    margin: 3px;
}

#logoView {
    margin-top: 20vh;
    height: 75%;
    width: 100%;
    margin-bottom: 15vh;
}

#logoView img {
    height: 100%;
    width: 100%;
}

#splashContrast{
    background-color: rgba(117, 192, 235, .3);
    margin-top: 10vh;
    min-height: 40vh;
}

#landing-btn{
    width: 80%;
    margin: auto !important;
    margin-top: 0;
    height: 4em !important;
    background-color: #4979ad;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none !important;
    border: none !important;
    font-weight: 400;
    font-size: 1.2em;
}

#locationPage{
    background-color: rgba(117, 192, 235, .08);
    min-height: 100vh;
    padding: 20px;
}

#locationHeader{
    text-align: center;
}

#currentLocation{
    display: block;
    margin: auto !important;
}

#addressForm{
    width: 90%;
    margin: auto !important;
    display: block;
}

#currentLocation, #useAddress {
    width: 85%;
    margin: auto !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

#divider span {
    margin: auto;
}

#address, #city, #zip {
    width: 85%;
}

#alertsTab {
    width: 90%;
}

#jobsTab, #eventsTab {
    width: 50%;
}

#transportationTypes button {
    width: 25%;
}

#fix-btn {
    margin-top: .5rem;
}

#eventMap {
    display: none;
}

.title {
    text-align: center;
}

.card {
    margin-top: 1em !important;
}

#topBanner {
    text-align: center;
}

#searchBanner {
    margin: auto;
    margin-top: 1em;
    width: 86%;
}